body {
    background-color: #00B487;
    color: #ffffff; /* White text */
    font-family: 'Libre Franklin', Arial, sans-serif;
    margin: 0;
    padding-top: 50px; /* Make space for the navigation bar */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    flex-direction: column; /* Stack elements vertically */
}

h1 {
    color: white;
    text-shadow: 5px 9px 14px #000000;
    animation: Entrance 2s ease 0s 1 normal forwards; /* Apply the animation directly to h1 */
    margin-top: auto; /* Push h1 to be centered in the remaining space */
    margin-bottom: auto;
}

/* Keyframes for the entrance animation */
@keyframes Entrance {
    0% {
        opacity: 0;
        transform: translateY(-250px) rotate(-200deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}


.carousel {  
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory; /* <- the important piece */
}  
.carousel .item {  
   flex-shrink: 0;
   scroll-snap-align: start; /* <- the other important piece */
}  